body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eae2f8; /* Açık lavanta rengi */
}

nav {
    overflow: hidden;
    background-color: rgba(41, 26, 65, 1);
}

.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

    .top-menu .ilk, .top-menu .sonLinkler {
        display: flex;
    }

    .top-menu li {
        display: inline;
    }

        .top-menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

            .top-menu li a:hover {
                background-color: #291a41;
            }

.sonLinkler {
    display: flex;
}
.ilkLinkler{
    display:flex;

}
