@{
    ViewData["Title"] = "InboxMessage";
    Layout = "~/Views/Shared/ShippingCompanyLayout.cshtml";
}

<style>

    .anaDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: rgb(176, 223, 245);
        min-height: 70vh;
    }

    .ayiriciDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .icDiv {
        border: solid 1px rgba(41, 26, 65, 0.1);
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 10px;
        padding: 20px;
        text-align: center;
        flex: 1;
        min-width: 200px;
        max-width: 300px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

        .icDiv:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .icDiv h1 {
            color: rgb(38, 147, 151);
        }

        .icDiv p {
            color: #555;
        }

    a {
        text-decoration: none;
    }

</style>
<div class="anaDiv">
    <div class="icDiv">
        <a href="@Url.Action("NotificationFromAdmin","Message")">
            <h1>Adminden Bilgilendirme(@ViewBag.NotificationFromAdmin)</h1>
            <p>Adminden gelen bilgilendirmeleri okuyabilirsin</p>
        </a>
    </div>
    <div class="icDiv">
        <a href="@Url.Action("MessagesFromSupport","Message")">
            <h1>Teknikden Mesajlar(@ViewBag.MessageFromSupport)</h1>
            <p>Teknikden gelen mesajları görüntüle</p>
        </a>
    </div>
</div>

