@{
    ViewData["Title"] = "MessageToSupport";
    Layout = "~/Views/Shared/SellerCompanyLayout.cshtml";
}



<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #333; 
        color: #e0e0e0; 
    }

    .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #444;
        border: 1px solid #555; 
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    }

        .container label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #e0e0e0; 
        }

        .container input[type="text"],
        .container textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #666; 
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #555; 
            color: #e0e0e0; 
        }

        .container button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #777; 
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .container button:hover {
                background-color: #555; 
            }
</style>

<div class="container">
    <form action="@Url.Action("MessageToSupport","Message")" method="post">
        @Html.AntiForgeryToken()
        <label>Mesaj Başlık:</label>
        <input type="text" name="MesajBaslik" required />
        <label>Mesaj:</label>
        <textarea rows="5" name="Mesaj" required></textarea>
        <button type="submit">Ekle</button>
    </form>
</div>
