@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/SellerCompanyLayout.cshtml";
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #333;
        color: #e0e0e0;
    }

    .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #444;
        border: 1px solid #555;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

        .container label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #e0e0e0;
        }

        .container input[type="text"],
        .container textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #666;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #555;
            color: #e0e0e0;
        }

        .container button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #777;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .container button:hover {
                background-color: #555;
            }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        $("#form").submit(function (e) {
            e.preventDefault();

            var currentPassword = $("#currentPassword").val().trim();
            var newPassword = $("#newPassword").val().trim();
            var confirmNewPassword = $("#confirmPassword").val().trim();

            $("#currentPasswordError").text('');
            $("#newPasswordError").text('');
            $("#confirmPasswordError").text('');


            if (newPassword !== confirmNewPassword) {
                $("#confirmPasswordError").text("Parola kontrolü uyuşmuyor");
            }
            else {
                $("#confirmPasswordError").text("");

            }
            var form = $(this);
            var url = form.attr("action");

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        $("#successMessage").text(response.message).show();
                        setTimeout(function () {
                            window.location.href = "@Url.Action("Index", "SellerCompany")";
                        }, 2000);
                    }
                    else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert("Bir hata oluştu");
                }
            });
        });
    });
</script>
<div class="container">
    <form id="form" action="@Url.Action("ChangePassword","SellerCompany")" method="post">

        <label>Mevcut Şifre:</label>
        <input type="password" id="currentPassword" name="currentPassword" required />
        <span id="currentPasswordError"></span>
        <label>Yeni Şifre:</label>
        <input type="password" id="newPassword" name="newPassword" required />
        <span id="newPasswordError"></span>
        <label>Yeni Şifre Tekrar:</label>
        <input type="password" id="confirmPassword" required />
        <span id="confirmPasswordError"></span>
        <button type="submit">Ekle</button>
        <div id="successMessage" class="alert alert-success" style="display:none">
        </div>
    </form>
</div>


